// 小圣杯功能块隐藏
#grailBox {
  .trade_box button {
    min-width: 50px;
    padding: 0 9px;
  }

  .hide_grail_block_title:after {
    font-size: 12px;
    content: ' (点击显示)';
  }

  .hide_grail_block_on {
    display: none !important;
  }

  .hide_grail_block_not_me {
    .rank_list:not(.my_rank) {
      display: none;
    }
    .link:not(.my_link) {
      display: none;
    }
    > .item:not(.my_temple) {
      display: none;
    }
  }
}

