// 圣殿样式调整
.assets_box .item {
  margin: 5px 5px 5px 0;
  width: 90px;

  .card {
    width: 90px;
    height: 120px;
  }
}

#lastTemples .assets .item {
  margin: 5px 5px 5px 0;
  width: 107px;
}

.item .card {
  width: 105px;
  height: 140px;
}
