ul.timelineTabs li a {
  margin: 2px 0 0 0;
  padding: 5px 10px 5px 10px;
}

img.cover {
  background-color: transparent;
}

.assets .my_temple.item {
  .card {
    box-shadow: 3px 3px 5px #FFEB3B;
    border: 1px solid #FFC107;
  }

  .name a {
    font-weight: bold;
    color: #0084b4;
  }
}

.assets_box .item {
  margin: 5px 5px 5px 0;
  width: 90px;

  .card {
    width: 90px;
    height: 120px;
  }
}

#lastTemples .assets .item {
  margin: 5px 5px 5px 0;
  width: 107px;
}

.item .card {
  width: 105px;
  height: 140px;
}

#grailBox, #TB_window {
  .my_auction {
    color: #ffa7cc;
    margin-right: 5px;
  }

  .user_auction {
    color: #a7e3ff;
    margin-right: 5px;
  }
}

#grailBox {
  .trade_box button {
    min-width: 50px;
    padding: 0 9px;
  }

  .hide_grail_block_title:after {
    font-size: 12px;
    content: ' (点击显示)';
  }

  .hide_grail_block {
    display: none !important;
  }
}

.link {
  &.swapped .swapPos {
    text-decoration: underline;
  }

  .swapPos {
    margin-left: 0.5em;
    cursor: pointer;
  }
}

#grail {
  li.title.hide_grail_title h2:after {
    font-size: 12px;
    content: '(点击显示)';
  }

  .temple_list .item {
    margin: 5px 5px 5px 0;
    width: 107px;
  }
}

.hide_grail {
  display: none !important;
}

// 列表项目
.item-info-tag {
  display: inline-block;
  padding: 0 4px;
  margin-left: 2px;
  vertical-align: top;
  font-size: 50%;
  font-weight: bold;
  text-shadow: 1px 1px 1px #666;
  border: none;
  border-radius: 4px;
  background: linear-gradient(#4f93cf, #369cf8);
}
.item-info-tags {
  display: inline-block;
  .item-info-tag {
    display: inline-block;
    padding: 0;
    width: 10px;
    height: 10px;
    background-size: contain;
    margin-left: 2px;
  }
  .item-info-chara-icon {
    background-image: inline('src/image/follow.png')
  }
  .item-info-auc-icon {
    background-image: inline('src/image/auction.png')
  }
  .item-info-ico-icon {
    background-image: inline('src/image/ico.png')
  }
  .item-info-temple-icon {
    background-image: inline('src/image/temple.png')
  }
}

// 弹出界面
#TB {
  &_overlay {
    z-index: 102;
  }

  &_window {
    &[data-name] {
      z-index: 102;
      padding: 7px;
      box-shadow: 0px 0px 4px 1px #56bce0;
    }

    &.temple .container {
      text-align: center;
      .line {
        text-align: left;
      }
    }

    .action .text_button {
      margin: 0 8px 0 0;
      padding: 0;
      width: fit-content;
      height: fit-content;
      min-width: fit-content;
    }

    .desc .text_button {
      cursor: pointer;
    }

    .setting-tab-titlebar {
      display: flex;
      margin-top: 8px;
      border-bottom: solid 2px;
      padding: 0 8px;

      .setting-tab-title {
        cursor: pointer;
        padding: 2px 8px;
        opacity: 0.8;
        border: solid 1px {
          bottom: none;
          radius: 5px 5px 0 0;
        }

        &.open {
          font-weight: bold;
          opacity: 1;
          border-width: 2px;
        }
      }
    }

    .setting-tab table {
      width: 98%;
      text-align: center;
      border-spacing: 0;

      input[type=number] {
        width: 7em;
        &.chara-id {
          width: 5em;
        }
        &.chara-level {
          width: 4em;
        }
      }

      tr {
        border-top: dotted 1px;
        &.hide-row {
          display: none;
        }
        td {
          text-align: left;
          vertical-align: middle;
          padding: 5px;
          &:first-child {
            width: 60%;
          }
        }
        &.setting-collapse {
          cursor: pointer;
          td:before {
            content: "▾ ";
          }
          &.setting-collapse-close {
            td:before {
              content: "▸ ";
            }
          }
        }
        &.setting-collapse-item {
          td:first-child {
            padding-left: 1.2em;
          }
        }
      }

      .setting-row-btn td {
        vertical-align: baseline;
      }

      .txtBtn {
        font-size: smaller;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

html[data-theme='dark'] {
  #grailBox .title {
    background-color: transparent;
  }

  .assets .my_temple.item .card {
    box-shadow: 0px 0px 15px #FFEB3B;
    border: 1px solid #FFC107;
  }
}
